/* defilement lent */
html {
scroll-behavior: smooth;
}
/* Arrière-plan */
body {
    background: linear-gradient(135deg, #f5f7fa 0%, #6dfaf6 100%);
    min-height: 100vh;
   
    font-family: Arial, sans-serif;
}
/* Navigation bar styles */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0088cc;  
    border-radius: 20px;

}
.first {
    font-size: 60px;
    text-align: center;
    color: #08c;
    text-decoration: none;
    margin: 10px;
    
}  
.autre {
    font-size: 50px;
    color: rgb(118, 180, 172);
   
    text-decoration: none;
}
/* mise en evidence de la page actuelles */
.principal {
    background-color: rgb(0, 29, 158);
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
    margin: 15px;
}
/* Styles pour les liens de réseaux sociaux */
.instagram {
    color: black;
    text-decoration: none;
    font-style: italic;
}

button {
    background-color: rgb(0, 59, 89);
    color: white;
    font-size: 15px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
/* Styles pour le tableau de contact */
.info-contact {
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
/* Styles pour les mentions */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(10, 9, 9, 0.6);
}
/* Bouton pour revenir en haut de la page */
.boutton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #08c;
    color: rgb(250, 250, 250);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
}
.boutton:hover {
    background-color: rgb(0, 29, 158);
    transform: scale(1.05);
}
/*centrer le texte*/
.centrer {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}



/* Styles pour le formulaire */
.info {
    margin-top: 0px;
    font-size: 10px;
    color: rgba(91, 111, 96, 0.374);
}
.contacter {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: auto;
    margin: 0 auto;
    background-color: rgb(98, 203, 255);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.info2 {         /* Css pour la mise en forme de l'info de la partie sonnerie*/
    margin-top: -10px;
    font-size: 10px;
    color: rgba(91, 111, 96, 0.374);
}

.evenement {     /*Css pour la mise en forme des titres des évènements*/
    font-size: 30px;
    text-align: center;
    color: red;
}

.music {  /* Css pour la couleur des liens des musics*/
    text-decoration: none;
    color:#08c;
}
.music:hover {      /* Css pour que les liens réagissent au curseur de la souris*/
    color:rgb(16, 4, 104);
    font-size: 20px;
}

.events {        /*Css pour que les sections de l'actualité soit ecarté de la marge et des autres éléments*/
    margin-left: 50px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(189, 252, 255);
    color: rgb(0, 0, 0);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btngalerie {     /* Css pour la forme et la couleur du bouton galerie */
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color: #08c;
    padding: 10px 20px;
    border-radius: 10px;
}

.btngalerie:hover {      /* Css pour que le bouton réagisse avec le curseur en changeant de couleur*/
    background-color: rgb(16, 4, 104);
}

.galerie {        /*Css pour l'organisation de la galerie photo */
    display: grid;        /*Mise en page des éléments en grille*/
    grid-template-columns: repeat(2,1fr);   /* Pour que les photos soit deux par lignes*/
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.galerie img {
    width: 100%;
    height: auto
}

.bdactu {    /*css pour décorer la partie actu*/
    background: linear-gradient(rgb(255, 255, 255), #bfc2d4);
}

.equipe {      /* Css pour décorer les équipes de volley*/
    font-weight: bold;
    color:#001581;
}

.photocote {               /* Css pour mettre une photo a coté d'un texte*/
    display:flex;
    align-items: center;   /* alignement vertical de l'image et du texte*/
    gap: 40px

}

.photocote img {     /*Css pour la mise en forme de l'image secret santa*/
    width: 200px;
    border-radius: 200px;
}
