.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #08c;  
    border-radius: 20px;
}
.first {
    font-size: 40px;
    text-align: left;
    color: #08c;
    text-decoration: none;
    
}  
.autre {
    font-size: 50px;
    color: rgb(118, 180, 172);
   
    text-decoration: none;
}
.principal {
    background-color: rgb(0, 29, 158);
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
    margin: 15px;
}
.instagram {
    color: black;
    text-decoration: none;
    font-style: italic;
}
.info {
    margin-top: 0px;
    font-size: 10px;
    color: rgba(91, 111, 96, 0.374);
}
.contacter {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

button {
    background-color: rgb(0, 59, 89);
    color: white;
    font-size: 15px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}