html {
scroll-behavior: smooth;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #08c;  
    border-radius: 20px;
}
.first {
    font-size: 40px;
    text-align: left;
    color: #08c;
    text-decoration: none;
    
}  
.autre {
    font-size: 50px;
    color: rgb(118, 180, 172);
   
    text-decoration: none;
}
.principal {
    background-color: rgb(0, 29, 158);
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
    margin: 15px;
}
.instagram {
    color: black;
    text-decoration: none;
    font-style: italic;
}
.info {
    margin-top: 0px;
    font-size: 10px;
    color: rgba(91, 111, 96, 0.374);
}
.contacter {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

button {
    background-color: rgb(0, 59, 89);
    color: white;
    font-size: 15px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.info-contact {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(10, 9, 9, 0.6);
}
.boutton {

    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #001581;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 4 px 10px rgba(0, 0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;

}
.boutton:hover {
    background-color:rgb(21, 67, 0);
    transform: scale(1.05);

}
